/* ============================ PIE DE PAGINA ==================*/

.footer{
    position:fixed;
    height: 10vh;
    bottom: 0;
    width: 100%;
    justify-content: center;

    & *{
        color: #fff;
        list-style-type: none;
        text-decoration: none;
    }
}