/* =========================== MENU ==========================================*/

.header {
    width: 15%;
    height: 80vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #050505;
    box-shadow: 0px 2px #000;
    margin: auto 0px;
    & *{
        color: #ffffff;
    }

    &__ctn {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        
        &List {
            width: 100%;
            list-style: none;
            padding: 0;
            li {
                transition: 100ms all ease-in;
                padding: 10px 40px;
                
                a {
                    display: block;
                    width: 100%;
                    font-size: 1.3rem;
                    text-decoration: none;
                }

                hr {
                    width: 50%;
                    height: 4px;
                    border: #ffffff;
                    transition: 300ms all ease-in;
                }
                &:hover{
                    cursor: pointer;
                    // background: #ffffff;
                    // *{
                    //     color: #000;
                    // }
                    a+hr {
                        width: 100%;
                        background: #ffffff;
                    }
                }
            }
        }
    }


}