/* ================================== CUERPO ===========================================*/

.sec1Ix {

    &__title {
        height: 100%;
    }

    &__ctnCards{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
    }
}