// Iniciar sesion y registrarse

.logReg{
    position:absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.842);
    display: flex;
    align-items: center;
    justify-content: center;

    #cerrarLogReg{
        position: absolute;
        cursor: pointer;
        top: 1rem;
        right: 1rem;

        &:hover + div{
            background: #000000;
        }
    }


    div{
        background: var(--color-deg);
        width: 30%;
        height: min-content;
        border-radius: 30px;
        form{
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px;
            input:not(.btn){
                width: 90%;
            }
            input{
                padding: 8px 20px;
            }
        }
    }

}

// Cerrar 

* .accionCerrar {
    // Borrar con javaScript
    display: none;
}

// ngt (navegation)

* .ngt{
    position:fixed;
    height: 10vh;
    top: 0;
    width: 100%;
    background: #000;
    form{
        justify-content: space-evenly;
        width: 100%;
        ul{
            li{
                input{
                    width: 400px;
                    padding: 6px 15px;
                }
            }
        }
    }
    // .ngt__ctnBuscar{}
    .ngt__ctnPerson{
        list-style-type: none;
        gap: 10px;
    }
}