// Iniciar sesion y registrarse
.formularios{
    position:absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 10;
    background: #0b1a22;
    display: flex;
    align-items: center;
    justify-content: center;

    &__cerrar{
        position: absolute;
        cursor: pointer;
        top: 1rem;
        right: 1rem;
    }
    &__logo{
        color: #fff;
        position: absolute;
        cursor: pointer;
        top: 1rem;
        left: 1rem;
        img{
            width: 50px;
        }
    }
    &__ctn{
        form{
            width: 100%;
            border-radius: 30px;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px;
            input:not(.btn){
                width: 100%;
            }
            input{
                padding: 8px 20px;
            }
        }
    }

}

// RELOAD

.LOAD{
    transition: 1s ease-in-out;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: #04090c;
    img{
        z-index: 100;
    }
}