// Iniciar sesion y registrarse
.logReg{
    transition: 1s ease-in-out;
    position:absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 10;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;

    #cerrarLogReg{
        position: absolute;
        cursor: pointer;
        top: 1rem;
        right: 1rem;
    }


    div{
        background: #000;
        width: 30%;
        height: min-content;
        border-radius: 30px;
        form{
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 20px;
            input:not(.btn){
                width: 90%;
            }
            input{
                padding: 8px 20px;
            }
        }
    }

}

// RELOAD

.LOAD{
    transition: 1s all ease-in-out;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: #04090c;
    img{
        z-index: 100;
    }
}

// ngt (navegation)

* .ngt{
    position:fixed;
    height: 10vh;
    top: 0;
    width: 100%;
    background: #000;
    justify-content: center;

    &__ctnLogo {
        text-decoration: none;
        font-family: 'Rock Salt', cursive;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        height: 100px;
        color: #fff;
        &:hover > img{
            transform: rotate(360deg);
        }
        img {
            transition: all 1s;
            height: 40px;
        }
    }

    form{
        justify-content: space-evenly;
        width: 100%;
        ul{
            li{
                height: 25px;
                input{
                    width: 400px;
                    padding: 6px 15px;
                }
            }
        }
    }
    // .ngt__ctnBuscar{}
    &__ctnPerson{
        list-style-type: none;
        gap: 10px;
    }
}