/* =========================================================
============================================================
                    MENU PRODUCTOS 
============================================================
============================================================*/

// CARDS

.ctnCard {
  position: relative;
  width: inherit;
  background: #fff;
  padding: 0px 20px 15px;
  border-radius: 20px;
  transition: 100ms all ease-in-out;
  text-align: center;
  &__view {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }
  &__tipo {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  &__img {
    height: 200px;
    text-align: center;
    img {
      height: 100%;
    }
  }
  &__info {
    margin: 1rem 0px;
    h4 {
      font-size: 0.9rem;
      margin: 5px 0px;
    }
  }
  &__btns {
    position: relative;
    z-index: 1;
    font-size: 1rem;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px #7c7c7c;
    transform: scale(1.01);
  }
}

// VIEW

.viewCard {
  position: relative;
  border-radius: 25px;
  width: 80%;
  height: max-content;
  margin: auto;
  * {
    color: #000000;
  }
  &__btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 3rem;
    background: #ff0000;
    color: #ffffff;
    border-radius: 50%;
  }
  &__ctn {
    display: grid;
    grid-template-columns: auto 1fr;
    height: initial;
    overflow: hidden;
    place-items: center;
    div {
      flex-direction: column;
      align-items: start;
      padding: 1rem;
      gap: 15px;
    }
    &Info {
      width: 80%;
      height: max-content;
      select {
        option {
          color: #081319;
        }
      }
    }
    &Imag {
      width: inherit;
      img {
        height: 100%;
        border-radius: 50px;
      }
    }

    // CARRITO
    .cardList {
      flex-direction: row;
      width: 100%;
      height: 100px;
      img {
        height: 100%;
      }
      &__info {
        width: 100%;
        align-items: center;
        flex-direction: row;
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .viewCard {
    height: 100%;
    &__ctn {
      height: min-content;
      &Info {
        width: min-content;
        align-items: center;
        h1 {
          font-size: 1.2rem;
        }
        h2,
        h3,
        h4,
        p {
          font-size: 1rem;
        }
        select {
          option {
            color: #081319;
          }
        }
      }
      &Imag {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .viewCard {
    height: max-content;
    &__ctn {
      display: flex;
      flex-direction: column-reverse;
      &Info {
        align-items: end;
        width: 100%;
        align-items: center;
        h1 {
          font-size: 1rem;
        }
        h2,
        h3,
        h4,
        p {
          font-size: 0.8rem;
        }
        select {
          option {
            color: #081319;
          }
        }
      }
      &Imag {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}
