@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html{
    position: relative;
    top: 0;
}

body {
    background: #000;
}

main{
    background: #f0eaea;
    border-radius: 30px;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 80%;
    height: 80vh;
    overflow-y: scroll;
}

* input{
    outline: none;
    border-radius: 30px;
    border: none;
}

/* ========== REPETICIONES ============ */

.ff-rocksalt {
    font-family: 'Rock Salt', cursive;
}

.d-f-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}


* .btn{
    cursor: pointer;
    padding: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background: none;
    color: #ffffff;
    outline: 1px solid #fff;
    &:hover{
        background: #fff;
        outline: 2px solid #ffffff;
        color: #000000;
    }
}
/* ========= COLORES ========== */

:root{
    --color-violet: #21123B;
    --color-negro1: #000;
    --color-negro: #1F1518;
    --color-bordo:#8B2C26;
    --color-rojo-claro: #dc0f00;
    --color-gris:#c3c3c3;
    --color-blanco:#FFFFFF;
    --color-deg: linear-gradient(45deg,  #af0035, #006d88);
    --family-titulo: 'Dancing Script';
}