@import "./form";
@import "./template";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-title;
  list-style: none;
  text-decoration: none;
}

body {
  background: #081319;
  position: relative;
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas:
    "header header"
    "nav body"
    "footer footer";
}

main {
  grid-area: body;
  background: #f0eaea;
  border-radius: 30px;
  padding: 1rem;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 1024px) {
  body {
    grid-template-columns: 20vw 80vw;
  }
}

@media screen and (max-width: 768px) {
  body {
    display: unset;
  }
  main {
    border-radius: 0px;
    height: 75vh;
    padding: 0.8rem 0.3rem;
  }
}

@import "./header";
@import "./footer";
@import "./index";
@import "./productos";
@import "./cart";
